<!DOCTYPE html>
<html lang="en">
<head>
    <title>MobOrg Dashboard</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        /* Zebra striping */
        tr:nth-of-type(odd) {
            background: #eee;
        }

        th {
            background: #333;
            color: white;
            font-weight: bold;
        }

        td, th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }
    </style>
</head>
<body class="p-4">
<h1 class="text-3xl mb-6">Ensembles</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Date/Time</th>
        <th># Registered</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ensemble: ${ensembles}">
        <td th:text="${ensemble.name()}"/>
        <td th:text="${ensemble.dateTime()}"/>
        <td th:text="${ensemble.numberRegistered()}"/>
    </tr>
    <!-- display "none found" when there are none  -->
    </tbody>
</table>
<form action="/schedule" method="post" th:object="${scheduleEnsembleForm}">
    <div>Name: <input type="text" th:field="*{name}"></div>
    <div>Date: <input type="date" th:field="*{date}"></div>
    <div>Time: <input type="time" th:field="*{time}"></div>
    <div>
        <button type="submit">Schedule Nouveau Ensemble</button>
    </div>
</form>
</body>